.auth-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-container input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}
.auth-container button {
  width: 98%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}